{% if latest_meeting_list %}
    <ul>
    {% for meeting in latest_meeting_list %}
        <li><a href="{% url 'accord:meeting' meeting.id %}">{{ meeting }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nothing to see here</p>
{% endif %}
