{% extends "./base.html" %}

{% block title %}{{ meeting }}{% endblock %}

{% block content %}

<h2>Agenda</h2>
<ul>
{% for question in questions %}
    <li>{{ question }}</li>
{% endfor %}
</ul>
<h2>Opinions</h2>
<ul>
{% for choice in choices %}
    <li>{{ choice }}</li>
{% endfor %}
</ul>

{% endblock %}
